In [2]:
import pyspark
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder \
    .master('spark://coy-pc.:7077') \
    .appName('test') \
    .getOrCreate()

24/03/03 21:17:42 WARN SparkContext: Another SparkContext is being constructed (or threw an exception in its constructor). This may indicate an error, since only one SparkContext should be running in this JVM (see SPARK-2243). The other SparkContext was created at:
org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:490)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
py4j.Gateway.invoke(Gateway.java:238)
py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
py4j.ClientServerConnection.run(ClientServerConnection.java:106)
java.base/java.lang.Thread.run(Thread.java:834)
24/03/03 21:17:42 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/03/03 21:17:42 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/03/03 21:17:42 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
24/03/03 21:17:42 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [6]:
spark

In [7]:
df_green = spark.read.parquet('data/pq/green/*/*')

24/03/03 21:19:18 WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
24/03/03 21:19:33 WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
24/03/03 21:19:48 WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
24/03/03 21:20:03 WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources

24/03/03 21:20:18 WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
24/03/03 21:20:33 WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
24/03/03 21:20:48 WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources

In [8]:
# rename pu do datetimes bc we need it
df_green = df_green.withColumnRenamed('lpep_pickup_datetime', 'tpep_pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'tpep_dropoff_datetime')

In [10]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [13]:
common_columns = ['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [14]:
from pyspark.sql import functions as F

In [15]:
df_green_sel = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

df_yellow_sel = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [16]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [17]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [18]:
df_trips_data.createOrReplaceTempView('trips_data')

In [20]:
df_result = spark.sql("""

    select 
    -- Reveneue grouping 
    pulocationid as revenue_zone,
    date_trunc('month', tpep_pickup_datetime) as revenue_month, 

    service_type, 

    -- Revenue calculation 
    sum(fare_amount) as revenue_monthly_fare,
    sum(extra) as revenue_monthly_extra,
    sum(mta_tax) as revenue_monthly_mta_tax,
    sum(tip_amount) as revenue_monthly_tip_amount,
    sum(tolls_amount) as revenue_monthly_tolls_amount,
    sum(improvement_surcharge) as revenue_monthly_improvement_surcharge,
    sum(total_amount) as revenue_monthly_total_amount,

    -- Additional calculations
    avg(passenger_count) as avg_monthly_passenger_count,
    avg(trip_distance) as avg_monthly_trip_distance

    from trips_data
    group by 1,2,3

""")

In [21]:
df_result.show(n=5)

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|avg_monthly_passenger_count|avg_monthly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
|         173|2020-01-01 00:00:00|       green|  15830.270000000004|                862.0|                  377.0|                    262.91|          384.53000000000014|                   297.30000000000257|           18040.70999999992|         1.4243589743589744|        3.201485608170845|
|          31|2020-01-01 00:00:00|       green|  2036.7799999999997|                104.5|                   28.5|                    133.47|           68.55999999999999|                    27.90000000000003|           2427.209999999999|         1.1551724137931034|        5.635959595959595|
|          38|2020-01-01 00:00:00|       green|  12386.739999999996|                698.0|                   67.0|                       0.0|           281.5200000000001|                   116.69999999999958|          13549.959999999995|         1.2823529411764707|        7.618925233644861|
|         165|2020-01-01 00:00:00|       green|  24802.129999999986|               1549.0|                  189.5|        101.14999999999999|          495.95000000000033|                   268.80000000000155|           27427.27999999998|         1.1891891891891893|        4.462666025024062|
|          92|2020-01-01 00:00:00|       green|   67252.83999999998|              2700.75|                 1326.0|        3052.7700000000004|          1289.5600000000006|                   1034.9999999999761|           76792.72000000112|         1.1726539589442815|        4.553793490460158|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
only showing top 5 rows

In [ ]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')